* {
    /* user-select: none; */
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.container-menu {
    width: 992px;
    max-width: calc(100vw - 50px);
    height: fit-content;
}
.over-loading {
    background: #dddddd60;
    display: none;
}
.loader {
    display: block;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ffa50097;
    position: absolute;
    animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.loader:after {
    animation-duration: 4s;
}
@keyframes l24 {
    100% {
        transform: rotate(1turn);
    }
}

.menu-header::-webkit-scrollbar {
    height: 5px;
}
.meals-inner::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.menu-header::-webkit-scrollbar-track,
.meals-inner::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.menu-header::-webkit-scrollbar-thumb,
.meals-inner::-webkit-scrollbar-thumb {
    background: #888;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Handle on hover */
.menu-header::-webkit-scrollbar-thumb:hover,
.meals-inner::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu-direction > * {
    font-size: 0.75rem;
    padding: 0 8px;
}
.meals-inner {
    max-height: 400px;
    min-height: 380px;
}
.item {
    height: 120px;
    border: 1px #cccccc63 solid;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
