@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    color: #dadde0;
}
.form {
    width: 900px;
    margin: 10px;
    background: #345;
    padding: 15px 30px;
    border-radius: 15px;
}
/* header */
.heading {
    font-size: 2.5rem;
    font-weight: 500;
}
.heading span {
    color: #ffa51a;
}
.header .desc {
    margin: 8px 0;
    font-size: 1.2rem;
}
/* Form */
.form-content input,
.btn {
    font-family: inherit;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #717781;
    font-size: 1.3rem;
}
.form-content input {
    width: 230px;
    padding-left: 10px;
}
.btn {
    background: #f8db35;
    color: #262d2c;
    padding: 0 20px;
    cursor: pointer;
}
/* Hover */
.form:hover {
    cursor: pointer;
}
.form:hover .form-content input::placeholder {
    color: #ffa51a;
    transition: 0.2s;
}
.form:hover .form-content input {
    transition: 0.2s;
    background: #ddd;
}
.form:hover .btn {
    background: #ffa51a;
    transition: 0.2s;
    color: #fff;
}
