* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: $primaryFontFamily;
    font-size: 1.6rem;
    font-weight: 400;
    background: #0b0d21;
    color: $textColor;
}
main {
    overflow: hidden;
}
.home-inner {
    margin: 0 auto;
    display: flex;
    padding: 45px 44px 44.3px 32px;
    max-width: 1920px;
}
// Sidebar
.sidebar {
    min-width: 72px;
    // overflow-y: auto;
    height: fit-content;
    .nav-inner {
        border-radius: 16px;
        padding: 32px 0 54px;
        background: $bgr-color;
    }
    .logo {
        img {
            margin: 0 auto;

            width: 21.412px;
            height: 32px;
        }
    }

    .link {
        margin-top: 40px;
        border-radius: 6px;
        padding: 8px 0;
        width: 100%;
        display: block;
        position: relative;
        transition: 0.2s linear;
        &::after {
            opacity: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            display: inline-block;
            width: 4px;
            height: 48px;
            background: linear-gradient(90deg, #ec008c 0%, #fc6667 100%);
            border-radius: 20px;
            position: absolute;
        }
        &:hover {
            background: #232966;
        }
        &:hover::after {
            opacity: 1;
        }
    }
    .link img {
        margin: 0 auto;
    }
    .line {
        margin-bottom: 94px;
        &::before {
            content: "";
            display: inline-block;
            width: 56px;
            height: 2px;
            background: #2e357b;
            position: absolute;
            bottom: -52px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .setting {
        margin-bottom: 225px;
    }
}
// header
.home-header {
    display: flex;
    height: 56px;
    // align-items: center;
    > .lbl-sidebar {
        display: none;
    }
}
.search-form {
    display: flex;
    margin-right: 45px;
}
.form-inner {
    display: flex;
    width: 445px;
    padding-left: 20px;

    align-items: center;

    // column-gap: 27px;
    > img {
        width: 24px;
        height: 24px;
    }
    input {
        color: #fff;
        padding: 0 27px;
        background: transparent;
        width: 100%;
        &::placeholder {
            color: #a1a5b7;
        }
    }
}

.navigation {
    display: flex;
    color: #fff;
    font-family: $secondFontFamily;
    label.bgr-btn {
        display: none;
    }
    .btn-connect-wl {
        box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.2);
    }

    .coin {
        translate: 0 5px;
        display: flex;
        a {
            font-weight: 500;
            line-height: 1.5;
            padding: 0 16px;
            column-gap: 4px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    .notification {
        translate: 0 5px;
        display: flex;
        margin: 0 16px;
        a {
            padding: 0 10px;
        }
        img {
            width: 32px;
            height: 32px;
        }
    }
    .group-item {
        translate: 0 5px;

        .item-inner {
            display: flex;
            column-gap: 16px;
            height: 100%;

            a {
                &:last-of-type {
                    border-radius: 16px;
                    display: flex;
                    background: rgb(77, 160, 247);
                    background: linear-gradient(
                        100deg,
                        rgba(77, 160, 247, 1) 0%,
                        rgba(185, 252, 207, 1) 100%
                    );
                }
                .btn-connect-wl {
                    border: none;
                    padding: 0 22px;
                }
                .btn-create {
                    padding: 0 19px;
                    height: 100%;
                }
            }
        }
    }
    .user {
        position: relative;
        margin-left: 43px;

        .avt-user {
            width: 56px;
            height: 56px;
            margin-right: 16px;
        }
        .user-name {
            font-family: $primaryFontFamily;
            font-weight: 600;
            font-size: 1.8rem;
            display: flex;
            flex-direction: column;
            margin-right: 85px;
            .name {
                margin-top: -4px;
            }
            .tag-name {
                margin-top: 14px;
                font-size: 1.4rem;
                color: #92c5fd;
                font-weight: 400;
            }
        }
        .caret-down {
            width: 24px;
            height: 24px;
        }
        &::before {
            content: "";
            display: inline-block;
            width: 2px;
            height: 100%;
            background: #fbc7d4;
            background: linear-gradient(90deg, #9796f0 0%, #fbc7d4 100%);
            border-radius: 999px;
            position: absolute;
            translate: -23px 3px;
        }
    }
}
main {
    margin: 0 32px;
}
// hero
.hero {
    margin-top: 53px;
    > .row {
        justify-content: space-between;
        .row-item {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.43;
            color: #5eead4;
            span {
                margin-right: 19px;
            }
        }
    }
}
h1.heading {
    font-size: 3.2rem;
    font-weight: 700;
}
.hero-slide {
    display: flex;
    margin-top: 36px;
    column-gap: 38px;
    overflow-x: auto;
    > .item {
        width: 650px;
        height: 305px;
        background-image: url("../image/placeabid-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
        position: relative;
        &:first-of-type {
            background-image: url("../image/placeabid-2.png");
        }
    }
    .item-info {
        width: 307px;
        height: 129px;
        border-radius: 12px;
        background: #000;
        border: 1px solid #44a7ff;
        position: absolute;
        left: 24px;
        bottom: 14px;
        padding: 13px 24px 14px;
        .item-row {
            display: flex;
            column-gap: 32px;
            span {
                font-size: 1.2rem;
                line-height: normal;
            }
        }
        .row-left {
            column-gap: 8px;
            display: flex;
            > img {
                margin-left: 4px;
                width: 14px;
                object-fit: contain;
            }
        }
        .time {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.35;
        }
        .row-right {
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.35;
        }
        .item-btn {
            margin-top: 14px;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.42;
            border-radius: 12px;
            background: $bgr-color;
            border: 2px solid #00b9d8;
            color: #fff;
            padding: 8px 24px;
        }
    }
}
// Top-seller
.top-seller {
    margin-top: 44px;
    > .heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.33;
        color: #6ee7b7;
    }
    .seller-list {
        padding-bottom: 16px;

        margin-top: 20px;
        display: flex;
        overflow: auto;
        column-gap: 68px;
        max-width: 1308px;

        &::-webkit-scrollbar {
            margin-top: 10px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 20px;
            background: #161a43;
        }
        &::-webkit-scrollbar-thumb:horizontal {
            border-radius: 20px;
            background: #2293b0;
            background: linear-gradient(90deg, #2293b0 0%, #6cd5ed 100%);
        }
        &::-webkit-scrollbar-track-piece:end {
            margin-right: 785px;
        }
    }
    .item {
        width: 180px;
        display: flex;
        align-items: center;

        column-gap: 12px;
        > img {
            width: 60px;
            height: 60px;
            border-radius: 12px;
        }
        .name-user {
            display: flex;
            align-items: center;
            font-family: $secondFontFamily;
            font-weight: 700;
            line-height: 1.5;
        }
        .coin {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.42;
            color: #5eead4;
        }
    }
}
// Hot bid
.hot-bid {
    margin-top: 40px;
    font-family: $secondFontFamily;
    .heading {
        color: #babee1;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1.5;
    }
    .list-item {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 40px;
        grid-auto-columns: 188px;
        overflow-x: auto;
    }
    .item {
        .item-time {
            display: flex;
            position: relative;
            top: 20px;
            column-gap: 17px;
            z-index: -1;

            .number {
                margin-top: 6px;
                column-gap: 4px;
                display: flex;
                align-items: center;
                height: fit-content;
            }
        }
        .bg-item {
            img {
                width: 106px;
                height: 57px;
            }
            span {
                position: absolute;
                top: 8px;
                left: 12px;
                font-size: 14px;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.71;
            }
        }
        .item-img img {
            height: 188px;
            width: 188px;
            border-radius: 16px;
        }
        .item-info {
            margin: 17px 0 0 8px;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.71;
        }
        .item-row {
            display: flex;
            column-gap: 36px;
            font-weight: 700;
            background: #acb6e5;
            background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .group-avt {
            display: flex;
            img:not(:first-of-type) {
                margin-left: -5px;
            }
        }
    }
}
// Aside
.aside {
    position: relative;
    width: 368px;
    border-radius: 16px;
    border: 3px solid #005b89;
    padding: 28px 21px;
    text-align: center;
    background: $bgr-color;
    h3.heading {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.11;
    }
}
.img-aside {
    > img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 336px;
    }
}
.aside-inner {
    position: relative;
    .info {
        margin: 0 auto;
    }
    .avt-user {
        margin: 28px auto 23px;
        border-radius: 999px;
        width: 120px;
        height: 120px;
        background: rgb(53, 96, 254);
        background: linear-gradient(
            180deg,
            rgba(53, 96, 254, 1) 25%,
            rgba(131, 84, 235, 1) 75%
        );
        padding: 8px;
        img {
            width: 100%;
            height: 100%;
            outline: 6px solid $bgr-color;
            border-radius: 999px;
        }
    }
    .name-user {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.33;
    }
    .statistic {
        margin-top: 34px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        .number {
            display: block;
            padding: 2px;
            background: rgb(53, 96, 254);
            background: linear-gradient(
                180deg,
                rgba(53, 96, 254, 1) 25%,
                rgba(131, 84, 235, 1) 75%
            );
            border-radius: 16px;
            span {
                border-radius: 16px;
                display: block;
                padding: 9px 0;
                background: $bgr-color;
                font-size: 18px;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1.55;
            }
        }
        .text {
            margin-top: 12px;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.42;
        }
    }
    .balance {
        margin-top: 30px;
    }
    .balance-inner {
        margin-top: 14px;
        padding: 14px 22px 14px 14px;
        border-radius: 16px;
        border: 2px solid #495099;
        background: $bgr-color;
        justify-content: space-between;
        .coin {
            column-gap: 14px;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.4;
            img {
                width: 32px;
                height: 32px;
            }
        }
        .add-link {
            column-gap: 4px;
            span {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.5;
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    h4.heading {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4;
        text-align-last: left;
    }
    .revenue {
        margin-top: 34px;
    }
    .revenue-row {
        justify-content: space-between;
        .month {
            margin-right: 8px;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.43;
            column-gap: 8px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    .revenue-chart {
        margin-top: 14px;
        .chart-inner {
            border-radius: 16px;
            border: 2px solid #495099;
            position: relative;
            padding: 22px 22px 28px 10px;
            > .row {
                &:not(:first-of-type) {
                    margin-top: 21px;
                }
                column-gap: 5px;
                display: flex;

                align-items: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.15;
                color: #b0baed;
                .dot {
                    height: 0;
                    width: 100%;
                    border-top: 2px dotted #3c4795;
                }
            }
        }

        .column-item {
            position: absolute;
            left: 44px;
            bottom: 36px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 76%;
            width: 79%;
            .column {
                position: relative;
                border-top-left-radius: 999px;
                border-top-right-radius: 999px;
                width: 14px;
                height: 5px;
                background: rgb(113, 186, 226);
                background: linear-gradient(
                    180deg,
                    rgba(113, 186, 226, 1) 25%,
                    rgba(129, 92, 212, 1) 75%
                );
                span {
                    position: absolute;
                }
            }
            .jan {
                height: 39%;
            }
            .feb {
                height: 54%;
            }
            .mar {
                height: 93%;
            }
            .apr {
                height: 81%;
            }
            .may {
                height: 44%;
            }
            .jun {
                height: 67%;
            }
            .month {
                position: absolute;
                bottom: -20px;
                left: 50%;
                translate: -50%;
            }
        }
    }
    .activity {
        margin-top: 35px;
    }
    .activity-row {
        justify-content: space-between;
        .see-all {
            margin-right: 12px;
            column-gap: 4px;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.43;
        }
    }
    .activity-list {
        margin-top: 17px;
        .item {
            &:not(:last-of-type) {
                margin-bottom: 13px;
            }

            > .item-inner {
                display: flex;
                align-items: center;
                column-gap: 12px;
                padding: 12px;
                border-radius: 16px;
                background: #22275f;
            }

            img {
                width: 64px;
                height: 64px;
                border-radius: 8px;
            }
            .item-info {
                font-family: $secondFontFamily;
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                .left {
                    font-size: 1.4rem;
                    font-weight: 700;
                    line-height: 1.4;
                    h4 {
                        margin-top: 3px;
                    }
                    p {
                        margin-top: 7px;
                        text-align: left;
                        font-size: 1.1rem;
                        line-height: 1.45;
                        letter-spacing: 0.22px;
                        font-weight: 400;
                        color: #dbeafe;
                    }
                    span {
                        font-size: 1.4rem;
                        font-weight: 500;
                        letter-spacing: 0.28px;
                        background: #b8c1ff;

                        background: linear-gradient(
                            89deg,
                            #b8c1ff -0.98%,
                            #0ff 54.08%,
                            #ff15f3 112.69%
                        );

                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .right {
                    span {
                        position: relative;
                        top: -6px;
                        left: 6px;
                        font-size: 1.2rem;
                        font-weight: 500;
                        line-height: 1.67;
                        letter-spacing: 0.24px;
                        color: #67e8f9;
                    }
                    p {
                        position: relative;
                        top: -5px;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1.3;
                        letter-spacing: 0.28px;
                    }
                    > .time {
                        color: #92c5fd;
                        font-size: 1.1rem;
                        font-weight: 400;
                        line-height: 1.45;
                        letter-spacing: 0.22px;
                        position: relative;
                        top: 3px;
                        left: 9px;
                    }
                }
            }
        }
    }
}
label.lbl-user {
    display: none;
}
.overlay {
    position: fixed;
    inset: 0;
    z-index: -10;
    background: #161a439e;
    transition: 0.2s linear;
}

// Responsive
@media screen and (max-width: 1919.98px) {
    .home-inner {
        position: relative;
        width: fit-content;
        overflow: hidden;
    }

    .aside {
        visibility: hidden;
        z-index: 1000;
        transition: 0.25s ease-in-out;
        position: absolute;
        right: 0;
        translate: 100%;
    }
    .ip-aside {
        &:checked {
            & + .aside {
                translate: -10%;
                visibility: visible;
            }
            & ~ .ovl-aside {
                z-index: 4;
            }
        }
    }
    .user {
        .caret-down {
            display: none;
        }
    }
    label.lbl-user {
        display: block;
    }
    .navigation {
        .group-item,
        .notification,
        .coin {
            translate: 0;
        }
    }
}
@media screen and (max-width: 1550px) {
    .home-inner {
        width: auto;
        overflow: hidden;
    }

    .home-header {
        .navigation {
            font-size: 1.5rem;
        }
    }
    .top-seller {
        .seller-list {
            &::-webkit-scrollbar-track-piece:end {
                margin-right: 50%;
            }
        }
    }

    .navigation {
        label.bgr-btn {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 100%;
        }
        .group-item {
            position: relative;
            padding: 2px;
            border-radius: 16px;
            background: #202554;
            background: linear-gradient(
                0deg,
                rgba(32, 37, 84, 1) 50%,
                rgba(22, 26, 67, 1) 100%
            );
            > .item-inner {
                width: 300px;
                justify-content: space-evenly;
                position: absolute;
                visibility: hidden;
                bottom: 0;
                left: 50%;
                translate: -50%;
            }
            input[id="ip-connect-wallet"] {
                &:checked {
                    & ~ .item-inner {
                        transition: 0.25s ease-in-out;

                        bottom: -120%;
                        visibility: visible;
                    }
                }
            }
        }
        .btn-connect-wl {
            box-shadow: 0px 13px 17px 0px rgba(140, 213, 105, 0.2);
        }
    }

    .hero-slide {
        padding-bottom: 20px;
        &::-webkit-scrollbar {
            margin-top: 10px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 20px;
            background: #161a43;
        }
        &::-webkit-scrollbar-thumb:horizontal {
            border-radius: 20px;
            background: #2293b0;
            background: linear-gradient(90deg, #2293b0 0%, #6cd5ed 100%);
        }
        &::-webkit-scrollbar-track-piece:end {
            margin-right: 50%;
        }

        > .item {
            // width: 50%;
            flex-shrink: 0;
        }
    }
    .hot-bid {
        .list-item {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }
        .item {
            .item-img {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1399px) {
    .navigation {
        .user {
            .user-name {
                margin-right: 20px;
            }
        }
    }
    .hot-bid {
        .item {
            .item-info {
                font-size: 1.7rem;
            }
        }
    }
    .home-header {
        justify-content: space-between;
    }
    .form-inner {
        max-width: 400px;
    }
}
@media screen and (max-width: 1250px) {
    .form-inner {
        max-width: 350px;
    }
}
@media screen and (max-width: 1199px) {
    .hero {
        margin-top: 100px;
    }
    .hot-bid {
        .list-item {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
    }
    .search-form {
        margin-right: 0;
        .form-inner {
            max-width: 300px;
        }
    }
}
@media screen and (max-width: 1090px) {
    .navigation {
        .coin {
            display: none;
        }
    }
    .hero-slide {
        .item {
            width: 100%;
        }
    }
}
@media screen and (max-width: 991px) {
    .navigation {
        .user {
            .user-name {
                display: none;
            }
        }
        .coin {
            display: flex;
        }
        .lbl-user {
            display: none !important;
        }
        .group-item {
            > .item-inner {
                translate: -100%;
            }
        }
    }

    .hot-bid {
        .list-item {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }
    .home-header {
        justify-content: space-evenly;
    }
    .search-form {
        margin-right: 0;
        .form-inner {
            max-width: 250px;
        }
    }
}
@media screen and (max-width: 850px) {
    .home-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .navigation {
        .coin {
            display: none;
        }
    }
    .home-header {
        > .lbl-sidebar {
            display: flex;

            label {
                display: flex;
                font-size: 2rem;
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 100%;
                background: $bgr-color;
            }
        }
    }
    .sidebar {
        position: absolute;
        left: 0;
        translate: -100%;
        transition: 0.25s linear;
        z-index: 1;
    }
    .ip-sidebar {
        &:checked {
            & + .sidebar {
                margin-top: 70px;
                translate: 0;
                left: 32px;
                z-index: 3;
            }
            & ~ {
                .ovl-sidebar {
                    z-index: 1;
                    background: #005b894f;
                }
            }
        }
    }
}
@media screen and (max-width: 660px) {
    .navigation {
        margin-left: auto;
    }
    .home-header {
        justify-content: flex-start;
    }
    main {
        margin: 0 10px;
    }
    .search-form {
        margin: 0 10px;
        .form-inner {
            max-width: 200px;
        }
    }
}
@media screen and (max-width: 575px) {
    .search-form {
        .form-inner {
            max-width: 100px;
            margin: 0;
        }
    }
    .hot-bid {
        .list-item {
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    .hero {
        .row {
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }
}
@media screen and (max-width: 456px) {
    .search-form {
        .form-inner {
            width: fit-content;
            input {
                display: none;
            }
            padding: 20px;
            margin: 0;
        }
    }
    .navigation {
        .group-item {
            > .item-inner {
                translate: -70%;
            }
        }
    }
}
