@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    user-select: none;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: "Poppins", sans-serif;
    position: relative;
}

.container-blog {
    width: 992px;
    max-width: calc(100vw - 50px);
    height: fit-content;
}
.over-loading {
    background: #dddddd60;
    display: none;
    z-index: 2;
}
.loader {
    display: block;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #ffa50097;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}
.loader:after {
    animation-duration: 4s;
}
.content-blog {
    height: 72px;
}
@keyframes l24 {
    100% {
        transform: rotate(1turn);
    }
}
