@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Rajdhani";
    src: url("../fonts/Rajdhani-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Black.ttf");
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}
input,
button {
    font-size: inherit;
    font-family: inherit;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.landing {
    /* position: fixed;
    left: 0;
    top: 0; */
    background: url("../images/landing-background.jpg") no-repeat;
    background-size: cover;
    padding: 80px 0 100px;
}
/* landing-content */
.landing-content {
    text-align: center;
    color: #fff;
}
.logo-image {
    margin: 0 auto;
    width: 42px;
    height: 60px;
}
.sub-title {
    margin-top: 36px;
    font-size: 2.4rem;
    font-weight: 500;
}
.landing-title {
    font-family: "Titillium Web", sans-serif;
    font-size: 10.4rem;
    font-weight: 900;
    position: relative;
    top: -10px;
}
.landing-desc {
    display: none;
    width: 384px;
    margin: 30px auto 0;
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: 500;
}
.landing__tab-switch {
    display: flex;
    justify-content: center;
}
.landing__tab-switch label {
    display: block;
    width: 180px;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    border: 1px solid #fff;
}

label.login {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
label.register {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
input[id="login"]:checked ~ .col-12 .landing__tab-switch label.login,
input[id="register"]:checked ~ .col-12 .landing__tab-switch label.register {
    background: #fff;
    color: #3e3f5e;
}
label.login,
label.register {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
/* landing-form */
.landing-form {
    margin-top: 80px;
}
.landing-form_inner {
    margin: 0 auto;
    width: 95%;
    padding: 64px;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
    border-radius: 12px;
}
.landing-form_heading {
    color: #3e3f5e;
    font-size: 2.6rem;
    font-weight: 700;
}
.rocket-img {
    width: 160px;
    height: 156px;
    position: absolute;
    display: none;
}
.form-main {
    margin-top: 76px;
}
.input-item {
    position: relative;
}
.input-item > input {
    width: 100%;
    height: 54px;
    outline: none;
    padding: 0 18px;
    background-color: #fff;
    border: 1px solid #dedeea;
    color: #3e3f5e;
    border-radius: 12px;
    transition: border-color 0.2s ease-in-out;
    font-weight: 700;
}
.input-item > input:focus {
    border-color: #615dfa;
}
.input-item > label {
    position: absolute;
    color: #adafca;
    padding: 0 8px;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background: #fff;
}
.input-item > input:not(:placeholder-shown) ~ label,
.input-item > input:focus ~ label {
    transform-origin: left;
    scale: 0.85;
    top: 0;
}
.form-inner > .input-item:not(:first-of-type) {
    margin-top: 28px;
}

.form-row {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lbl-check {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    color: #3e3f5e;
}
.lbl-check > span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #dedeea;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin-right: 12px;
}
.lbl-check > span > img {
    width: 12px;
    height: 13px;
}

.form-row__link {
    color: #adafca;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 22px;
}
.lbl-check > input:checked ~ span {
    background-color: #23d2e2;
    border-color: #23d2e2;
}
.form-btn {
    display: inline-block;
    width: 100%;
    height: 54px;
    margin-top: 28px;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);

    /* box-shadow: 3px 5px 10px 0 rgba(62, 63, 94, 0.2); */
}
.form-login .form-btn {
    background-color: #615dfa;
    border: 1px solid #615dfa;
}
.form-login .form-btn:hover {
    background-color: #5753e4;
}

.form-line {
    margin-top: 40px;
    margin-top: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-line::before,
.form-line::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #eaeaf5;
    position: absolute;
}
.form-line::before {
    left: 0;
}
.form-line::after {
    right: 0;
}
.form-social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form-social > a.social-link:not(:last-of-type) {
    margin-right: 12px;
}
a.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    color: #fff;
}
.facebook {
    background: #3763d2;
}
.twitter {
    background: #1abcff;
}
.twitch {
    background: #7b5dfa;
}
.youtube {
    background: #fd434f;
}
a.social-link:hover {
    transform: translateY(-5px);
}

.form-register .form-btn {
    border: 1px solid #23d2e2;
    background-color: #23d2e2;
}
.form-register .form-btn:hover {
    background-color: #1bc5d4;
}

.form-text {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 500;
    text-align: left;
}
.form-text_link {
    font-weight: 600;
    color: #23d2e2;
}
/* tab-switch effect */
.form-login,
.form-register {
    display: none;
}
input[id="login"]:checked ~ .col-12 .form-login {
    display: block;
}
input[id="register"]:checked ~ .col-12 .form-register {
    display: block;
}
input[id="register"]:checked ~ .col-12 .form-login {
    display: none;
}
@media screen and (max-width: 500px) {
    .landing-title {
        font-size: 6rem;
    }
    .sub-title {
        font-size: 2.4rem;
    }
}
@media screen and (min-width: 576px) {
    .landing-form_inner {
        width: 484px;
    }
}
@media screen and (min-width: 1366px) {
    .landing {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        line-height: 1 !important;
    }
    .landing-content {
        position: absolute;
        width: 584px;
        top: 16%;
        left: 5%;
    }
    .landing-title {
        line-height: 1;
        font-weight: 900;
    }
    .landing__tab-switch {
        margin-top: 40px;
    }
    .landing-desc {
        display: block;
        margin-top: 10px;
    }
    .landing-form_inner {
        position: absolute;
        top: 50%;
    }
    .form-login {
        margin-top: -313px;
    }
    .form-register,
    .form-login {
        right: 0;
        transform: translateX(50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease-in-out 0s;
    }
    .form-register {
        margin-top: -370px;
    }
    .rocket-img {
        display: block;
    }
    .form-login .rocket-img {
        top: -68px;
        left: -80px;
    }
    .form-register .rocket-img {
        top: -14px;
        left: -80px;
    }
    /* tab-switch effect */
    .form-login,
    .form-register {
        display: block !important;
    }
    input[id="login"]:checked ~ .col-12 .form-login,
    input[id="register"]:checked ~ .col-12 .form-register {
        transform: translateX(0px);
        right: 100px;
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (min-width: 1501px) {
    .landing-content {
        left: 13%;
    }
    .landing-desc {
        margin-top: 30px;
    }
    .landing__tab-switch {
        margin-top: 90px;
    }
    .landing-decoration {
        position: absolute;
        width: 64%;
        height: 140%;
        border-radius: 50%;
        background: url("../images/bgr-deco.png") repeat 0 0 #fff;
        top: -20%;
        right: -32%;
        pointer-events: none;
    }
    input[id="login"]:checked ~ .col-12 .form-login,
    input[id="register"]:checked ~ .col-12 .form-register {
        right: 195px;
    }
}
