@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    height: 2000px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.container {
    width: 1296px;
    max-width: calc(100vw - 50px);
    margin: 0 auto;
}
.section-heading {
    color: #2e2e2e;

    font-size: 4rem;
    font-weight: 700;
    line-height: 1.35;
    text-transform: capitalize;
}
.section-desc {
    color: #676767;
    font-size: 1.8rem;
    line-height: 1.67;
}
.sub-heading {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
    letter-spacing: 0.18px;
}

a {
    color: inherit;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 72px;
    border-radius: 12px;
    background: #f86061;
    color: #fffafa;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    border: 1px solid transparent;
    transition: 0.2s;
}

/* header */
.header-grover {
    margin-top: 48px;
}
.lbl-menu-checkbox {
    display: none;
}
.header-grover .menu-ic {
    display: block;
    color: #888;
    font-size: 2.5rem;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 2px 10px;
}
.header-grover .container {
}
.header-grover .logo {
    width: 155px;
    height: 42px;
}
.header-grover .nav-grover {
    margin-left: auto;
    justify-content: space-between;
    color: #4d4d4d;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.143;
}
.header-grover .nav-grover > .list-item {
    margin-right: 228.28px;
}
.header-grover .nav-grover > .list-item .item a {
    display: block;
    padding: 8px 16px;
    width: 100%;
}
.header-grover .nav-grover > .list-item .item a.active {
    color: #f55253;
}
.header-grover .nav-grover > .btn-search {
    width: 288px;
    height: 48px;
    padding: 13px 20px 14px;
    border-radius: 8px;
    background: #fff;

    position: relative;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
    color: #2e2e2e;
}
.nav-grover > .btn-search input {
    width: 178px;
    height: 21px;
    margin: 0 22px 0px 8px;
    outline: none;
    border: none;
}
.nav-grover > .btn-search input:focus + label {
    display: none;
}
.nav-grover > .btn-search input + label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 44px;
}
.cart-ic {
    position: relative;
}
.cart-ic::after {
    top: -26px;
    right: -25px;
    position: absolute;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.369px;
    height: 28px;
    border-radius: 999px;
    content: "2";
    color: #fffdfd;
    background: #f55253;
    box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
}

.cart-ic::before {
    left: -14px;
    position: absolute;
    display: inline-block;
    content: "";
    width: 2px;
    height: 27px;
    background: #f2f2f2;
}
/* Hero */
.hero-grover {
    margin-top: 88px;
    display: flex;
}
.hero-grover .sub-heading {
    width: fit-content;
    column-gap: 8px;
    padding: 12px 24px 12px 16px;
    border-radius: 999px;
    background: #fdecec;
    line-height: 1;
    font-size: 1.6rem;
    color: #f55556;
}
.hero-row {
    display: flex;
    margin-top: 12px;
    row-gap: 50px;
}
.hero-grover .hero-info {
    width: 44%;
    margin: 8px 91px 0 0;
}
.hero-grover .hero-info h1.heading {
    color: #2e2e2e;
    font-size: 7.4rem;
    line-height: 1.19;
    letter-spacing: -0.74px;
    text-transform: initial;
}
.hero-grover .hero-info h1.heading > span {
    font-weight: 500;
    color: #f54748;
    letter-spacing: -3.7px;
}
.hero-grover .hero-info > .desc {
    max-width: 90%;
    letter-spacing: 0.09px;
    margin: 22px 0 53px;
}
.hero-grover .hero-info > .btn-cta {
}
.hero-grover .hero-info > .btn-cta .play-ic {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    color: #2e2e2e;
    margin: 0 17px 0 34px;
    box-shadow: 0px 20px 49px -10px rgba(0, 0, 0, 0.08);
}
.hero-grover .hero-info > .btn-cta .desc {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.2px;
    text-transform: capitalize;
}

.hero-grover .hero-image {
    width: 49%;
    height: 507px;
    margin-top: -61px;
}
/* Feature */
.service-grover {
    margin-top: 127px;
    background: #fef5f5;
}
.service-grover .service-inner {
    text-align: center;
    padding: 100px 0 143px 0;
}
.service-header {
    max-width: 662px;
    margin: 0 auto;
}
.service-header > .sub-heading {
    color: #f54748;
    margin-bottom: 7px;
}

.service-row {
    margin-top: 79px;
}
.service-row > .list-item {
    display: flex;
    justify-content: center;
    column-gap: 64px;
}
.service-row > .list-item .item .item-image {
    height: 60px;
}
.service-row > .list-item .item .item-image img {
    margin: 0 auto;
}
.service-row > .list-item .item {
    width: 302px;
    height: 328px;
    position: relative;
}
.service-row > .list-item .item .item-inner {
    position: relative;
    background: #fff;
    padding: 50px 46px 63px;
    border-radius: 12px;
}
.service-row > .list-item .item .item-bgr {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 106%;
    background: #fe6a6a;
    border-radius: 12px;
    transform: rotate(0deg);
    transition: 0.2s all ease;
    opacity: 0;
    z-index: 0;
}
.service-row > .list-item .item:hover .item-bgr {
    left: 18px;
    top: -3px;
    opacity: 1;

    transform: rotate(-3deg);
}
.service-row > .list-item .item .item-heading {
    color: #2e2e2e;
    margin: 60px 0 17px;

    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5; /* 150% */
    letter-spacing: -0.22px;
}
.service-row > .list-item .item .item-desc {
    color: #676767;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.78; /* 178.571% */
}

/* Feature */
.feature-wrap {
    padding: 49px 0;
    display: flex;
    flex-direction: column;
    row-gap: 112px;
}

.feature-up .sub-heading {
    color: #03a66b;
    text-transform: uppercase;
}

.feature-wrap .section-heading {
    margin: 7px 0 23px;
}
/* Feature-up */
.feature-up .feature-image {
    width: 57.6%;
    margin-right: 24px;
}
.feature-up .feature-content {
    width: 30.2%;
    margin-top: 2px;
}
.feature-up .feature-content .section-desc {
    margin-bottom: 48px;
    max-width: 357px;
}
/* feature-down */
.feature-down .container {
    column-gap: 153px;
}
.feature-down .feature-content {
    width: 39.1%;
    margin-top: 43px;
}
.feature-down .sub-heading {
    color: #f9ba45;
    text-transform: uppercase;
}
.feature-down .feature-image {
    width: 49.1%;
    margin-top: -12px;
}
.feature-down .feature-content .section-desc {
    max-width: 499px;
    margin-bottom: 49px;
}

.feature-wrap .feature-content a.btn {
    width: 200px;
}
/* cta-grover */
.cta-grover {
    background: #fef5f5;
    padding: 100px 0;
}
.cta-inner {
    justify-content: flex-end;
    align-items: start;
    column-gap: 172px;
}
.cta-inner > .cta-image {
    margin-left: -20px;
    width: 22.4%;
}
.cta-inner > .cta-content {
    padding: 80px 0 0 25px;
    width: 51%;
}
.cta-inner > .cta-content .sub-heading {
    color: #f54748;

    font-weight: 500;
}
.cta-inner > .cta-content .section-heading {
    max-width: 454px;
    margin: 7px 0px 23px;
}
.cta-inner > .cta-content .section-desc {
    max-width: 500px;
    margin-bottom: 83.5px;
}

.cta-btn-gr {
    display: flex;
    column-gap: 16px;
}
.cta-btn-gr .btn {
    background: transparent;
    border: 1px solid #eedcdc;
    width: 200px;
    height: 83px;
    display: flex;
    column-gap: 17px;
}
.cta-btn-gr .btn span {
    color: #2e2e2e;
}
.cta-btn-gr .btn img {
    width: 44px;
    height: 44px;
}
/* Footer */
.footer-grover {
    color: #888;
}
.footer-row {
    padding: 101px 0 30px;
    display: flex;
}

.logo-footer {
    width: 34%;
}
.logo-footer .desc {
    margin-top: 26px;
    max-width: 288px;
    color: #676767;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */
}
.logo-footer img {
    width: 155px;
    height: 42px;
}
.list-item-footer {
    display: flex;
}
.footer-column-item .title {
    margin-bottom: 38px;
    color: #2e2e2e;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11; /* 111.111% */
    letter-spacing: -0.18px;
}
.footer-column-item .list-item .item {
    color: #676767;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5; /* 250% */
}
.footer-column-item:last-of-type {
    width: 255px;
}
.footer-column-item:nth-of-type(2) {
    margin: 0 137px 0 177px;
}

.footer-column-item:last-of-type .desc {
    line-height: 1.62; /* 162.5% */
}

.footer-copyright {
    margin-top: 74px;
    padding-bottom: 30px;
}

.footer-copyright .list-item {
    display: flex;
    color: #747474;
    align-items: center;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}
.footer-copyright .group-item {
    margin-left: auto;
    display: flex;
}
.footer-copyright .group-item .item:first-child {
    margin-right: 20px;
}
.footer-copyright .group-item .item:last-child {
    margin-right: 12px;
}
.footer-grover a:hover {
    color: #2e2e2e;
}
.hero-grover a.btn:hover,
.feature-wrap a.btn:hover {
    border: 1px solid #f86061;
    background: #fff;
    color: #f86061;
}
/* Responsive */
@media screen and (max-width: 1399px) {
    .container {
        padding: 0 50px;
    }
    .service-grover .service-inner {
    }
    .footer-grover .footer-row .list-item-footer {
        flex-grow: 2;
    }
    .footer-grover .footer-row .footer-column-item {
        flex-basis: calc(100% / 3);
    }
    .footer-grover .footer-row .footer-column-item:nth-of-type(2) {
        margin: 0;
    }
}
@media screen and (max-width: 1199px) {
    .container {
        padding: 0 20px;
    }
    .section-heading {
        font-size: 3.2rem;
    }
    .section-desc {
        font-size: 1.6rem;
    }
    .hero-grover .hero-info {
        width: 49%;
        margin: 0;
    }
    .feature-wrap .feature-up .feature-content {
        width: 47.2%;
    }
    .feature-wrap .feature-down .feature-content {
        width: 41%;
    }
    .feature-wrap {
        row-gap: 0;
    }
    .header-grover .nav-grover .list-item {
        margin-right: 70px;
    }
    .hero-grover .hero-info h1.heading {
        font-size: 6rem;
    }
    .service-row > .list-item {
        column-gap: 35px;
    }
    .service-row > .list-item .item {
        flex-basis: calc(100% / 3 - 35px);
    }
    .service-row > .list-item .item .item-inner {
        padding: 50px 26px 63px;
    }
    .cta-inner {
        column-gap: 110px;
        align-items: center;
    }
    .cta-inner > .cta-content .section-desc {
        margin-bottom: 50px;
    }
    .cta-inner > .cta-image {
        width: 26.4%;
    }

    .footer-column-item .list-item .item,
    .footer-grover .footer-row .desc {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 991px) {
    .btn {
        font-size: 1.7rem;
    }
    .container {
        padding: 0 70px;
    }

    .lbl-menu-checkbox {
        display: block;
    }
    .header-grover .container {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .nav-grover {
        width: 100%;
        visibility: hidden;
        position: relative;
        z-index: -1;
    }
    .nav-grover,
    .nav-grover .list-item {
        flex-direction: column;
        row-gap: 22px;
        margin-top: 20px;
    }
    .nav-grover .list-item {
        margin: 0 !important;
        width: 100%;
    }
    .nav-grover .list-item .item {
        width: 100%;
        text-align: center;
    }
    .hero-grover {
        margin-top: -196px;

        transition: 0.25s;
        background: #fff;
    }
    .hero-grover .hero-row {
        flex-wrap: wrap;
    }
    .sub-heading-img {
        width: 26px;
        height: 24px;
    }
    .hero-grover .hero-info h1.heading {
        font-size: 4rem;
    }

    .hero-image,
    .hero-info {
        width: 100% !important;
    }
    .service-grover .container {
        padding: 0;
    }
    .service-row > .list-item .item .item-heading {
        font-size: 1.8rem;
    }
    .service-row > .list-item .item .item-desc {
        min-height: 75px;
    }
    .feature-wrap .container {
        flex-wrap: wrap;
    }
    .feature-wrap .feature-content,
    .feature-wrap .feature-image {
        width: 100% !important;
    }
    .feature-up .feature-content .section-desc,
    .feature-down .feature-content .section-desc {
        max-width: 100%;
    }
    .feature-down .container {
        flex-direction: column-reverse;
    }
    .cta-inner {
        flex-direction: column;
    }
    .cta-inner > .cta-image {
        width: 50%;
    }
    .cta-inner > .cta-content {
        width: 100%;
    }
    .footer-grover .footer-row,
    .list-item-footer {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
    }
    .footer-grover .footer-row {
        align-items: center;
    }

    .logo-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-footer .desc {
        max-width: 100%;
    }

    .ip-menu-checkbox:checked ~ .hero-grover {
        margin-top: 88px;
        transition-delay: 0.08s;
    }
    .ip-menu-checkbox:not(:checked) ~ .header-grover .nav-grover {
        transition-delay: 0.15s;
    }
    .ip-menu-checkbox:checked ~ .header-grover .nav-grover {
        visibility: visible;
        transition: 0.25s;
    }
}
@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
    .service-grover .service-row .list-item {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    .service-grover .service-row .list-item .item {
        width: 80%;
    }
    .service-grover .service-row .list-item .item .item-inner {
        padding: 30px 10px 15px;
    }
    .service-row > .list-item .item .item-heading {
        margin: 20px 0 10px;
    }
    .footer-copyright .list-item {
        flex-direction: column;
        align-items: center;
    }
    .footer-copyright .group-item {
        margin: 0;
    }
}
@media screen and (max-width: 575px) {
    a.btn {
        font-size: 1.6rem;
        width: 160px;
    }
    .hero-grover .hero-info > .btn-cta .desc {
        font-size: 1.7rem;
    }
    .cta-btn-gr .btn {
        height: 70px;
    }
    .cta-btn-gr .btn img {
        width: 30px;
        height: 30px;
    }
}
